.block-search {
	.description-search {
		margin: 30px 0;
		max-width: 250px;
	}

	form {
		.input-search {
			background-color: $dark-orange;
			border-radius: 10px;
			border: 1px solid $light-orange;
			color: white;
			font-size: 18px;
			height: 40px;
			padding: 0 10px;
			width: calc(100% - 65px);
		}

		@include placeholder {
			font-weight: bold;
			color: rgba(255,255,255,0.8);
		}

		.input-submit {
			background-image: url('../images/lens.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: $dark-orange;
			border-radius: 10px;
			border: 1px solid $light-orange;
			height: 40px;
			text-indent: -99999px;
			width: 40px;
		}
	}
}