@font-face {
    font-family: 'itau_displaybold';
    src: url('../fonts/itaudisplay_bold-webfont.eot');
    src: url('../fonts/itaudisplay_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itaudisplay_bold-webfont.woff2') format('woff2'),
         url('../fonts/itaudisplay_bold-webfont.woff') format('woff'),
         url('../fonts/itaudisplay_bold-webfont.ttf') format('truetype'),
         url('../fonts/itaudisplay_bold-webfont.svg#itau_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itau_displaylight';
    src: url('../fonts/itaudisplay_light-webfont.eot');
    src: url('../fonts/itaudisplay_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itaudisplay_light-webfont.woff2') format('woff2'),
         url('../fonts/itaudisplay_light-webfont.woff') format('woff'),
         url('../fonts/itaudisplay_light-webfont.ttf') format('truetype'),
         url('../fonts/itaudisplay_light-webfont.svg#itau_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itau_displayregular';
    src: url('../fonts/itaudisplay_regular-webfont.eot');
    src: url('../fonts/itaudisplay_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itaudisplay_regular-webfont.woff2') format('woff2'),
         url('../fonts/itaudisplay_regular-webfont.woff') format('woff'),
         url('../fonts/itaudisplay_regular-webfont.ttf') format('truetype'),
         url('../fonts/itaudisplay_regular-webfont.svg#itau_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itau_displayxbold';
    src: url('../fonts/itaudisplay_xbold-webfont.eot');
    src: url('../fonts/itaudisplay_xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itaudisplay_xbold-webfont.woff2') format('woff2'),
         url('../fonts/itaudisplay_xbold-webfont.woff') format('woff'),
         url('../fonts/itaudisplay_xbold-webfont.ttf') format('truetype'),
         url('../fonts/itaudisplay_xbold-webfont.svg#itau_displayxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}