.main-detail {
	padding-bottom: 20px;

	.container-detail {
		margin: 0 auto;
		max-width: 430px;

		@include mq('md') {
			padding-top: 40px;
			max-width: 950px;
		}

		.container-img {
			height: 0;
			overflow: hidden;
			padding: 50%;
			position: relative;
			text-align: center;
			z-index: 1;

			@include mq('md') {
				display: inline-block;
				height: auto;
				padding: 0;
				margin-right: 20px;
				vertical-align: top;
				width: 41%;
			}

			img {
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				@include mq('md') {
					position: relative;
				}
			}
		}

		.container-list-details {
			margin-top: -35px;
			position: relative;
			z-index: 2;

			@include mq('xs') {
				margin-top: -55px;
			}

			@include mq('md') {
				margin-top: 0;
				display: inline-block;
				vertical-align: top;
				width: 55%;
			}

			h2 {
				font-size: 23px;
				margin: 0;
				text-align: center;

				@include mq('xs') {
					font-size: 38px;
				}

				@include mq('md') {
					font-size: 40px;
					text-align: left;
					width: 440px;
				}
			}

			h3 {
				margin: 40px 0 0;
				font-size: 18px;

				@include mq('md') {
					margin: 20px 0 0;
					font-size: 25px;
				}
			}

			p {
				font-size: 14px;
				line-height: 1.7;
				width: 90%;

				@include mq('md') {
					font-size: 20px;
					width: 100%;
				}
			}
		}

		.benefits-list {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				@include mq('md') {
					column-count: 2;
					column-width: 100px;
					column-gap: 50px;
				}

				h4 {
					font-size: 16px;
					margin-bottom: 5px;
					padding-left: 35px;

					@include mq('md') {
						font-size: 20px;
						margin-top: 0;
					}
				}

				li {
					margin-bottom: 25px;
					font-size: 14px;
					line-height: 1.7;
					position: relative;

					@include mq('md') {
						font-size: 16px;
						width: 195px;
					}

					a {
						display: block;
						color: $lightning-yellow;
						font-size: 14px;
						font-weight: bold;
					}

					&:before {
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						content: '';
						display: block;
						height: 25px;
						left: 0;
						position: absolute;
						top: 0;
						width: 25px;
					}

					&:nth-child(1) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-avances.svg');
						}
					}

					&:nth-child(2) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-viajes.svg');
						}
					}

					&:nth-child(3) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-bloqueos.svg');
						}
					}

					&:nth-child(4) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-pagos.svg');
						}
					}

					&:nth-child(5) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-movimientos.svg');
						}
					}

					&:nth-child(6) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-extractos.svg');
						}
					}

					&:nth-child(7) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-cortes.svg');
						}
					}

					&:nth-child(8) {
						&:before {
							background-image: url('../images/details/app-itau-tarjetas-colombia/icon-uso-tarjeta.svg');
						}
					}
				}
			}

			.read-more {
				border-radius: 14px;
				border: 1px solid $light-orange;
				color: white;
				display: inline-block;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 30px;
				margin-top: 25px;
				padding: 10px 25px;
				text-decoration: none;

				@include mq('md') {
					border: 3px solid $light-orange;
					display: block;
					margin: 0 auto;
					width: 60px;
				}
			}
		}

		.promo-app {
			background-image: url('../images/logo-app.png');
			background-repeat: no-repeat;
			background-position: left top;
			background-size: 25%;
			padding-top: 10px;
			padding-left: 30%;
			padding-bottom: 40px;

			@include mq('md') {
				background-size: 95px;
				margin-top: 40px;
				padding-bottom: 20px;
				padding-left: 115px;
			}

			h4 {
				font-size: 18px;
				margin-bottom: 3px;
				margin-top: 0;

				@include mq('md') {
					font-size: 22px;
				}
			}

			p {
				font-size: 16px;
				line-height: 1;
				margin-top: 8px;

				@include mq('md') {
					font-size: 18px;
				}
			}

			a {
				display: inline-block;
				margin-right: 5px;

				img {
					height: 29px;

					@include mq('md') {
						height: 46px;
					}
				}
			}
		}
	}

	.breadcrumb {
		margin: 0 auto;
		max-width: 430px;

		@include mq('md') {
			margin-top: 40px;
			max-width: 640px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: white;
				text-decoration: none;
			}

			li {
				font-size: 13px;
				margin-bottom: 20px;
				position: relative;

				@include mq('md') {
					font-size: 16px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 25px;
				}

				&:first-child {
					@include mq('md') {
						width: 190px;
					}
				}

				&:before {
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					content: '';
					display: block;
					height: 10px;
					left: 0;
					position: absolute;
					top: 1px;
					width: 10px;

					@include mq('md') {
						height: 15px;
						top: 1px;
						width: 15px;
					}
				}

				&.arrow {
					padding-left: 30px;

					&:before {
						background-image: url('../images/arrow-white.svg');
					}
				}
			}
		}
	}
}