.phone-app {
	background-color: $dark-orange;
	padding-top: 40px;

	.container-phone-app {
		background-image: url('../images/hand-app.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 280px;
		margin: 0 auto;
		max-width: 380px;
		padding-bottom: 355px;

		@include mq('md') {
			background-position: left bottom;
			background-size: contain;
			max-width: none;
			padding-bottom: 40px;
			padding-left: calc(100% - 530px);
			width: 530px;
		}

		@include mq('lg') {
			padding-left: calc(100% - 710px);
		}
	}

	h2 {
		margin: 0;

		img {
			@include mq('md') {
				width: 100%;
			}
		}
	}

	p {
		font-size: 15px;
		width: 68%;

		@include mq('md') {
			font-size: 25px;
			width: 52%;
		}
	}

	.list-platforms {
		p {
			color: yellow;
			font-size: 13px;
			margin: 20px 0 25px;
			width: 100%;

			@include mq('md') {
				font-size: 22px;
			}
		}

		a {
			display: inline-block;
			margin-right: 5px;

			img {
				height: 40px;

				@include mq('md') {
					height: 55px;
				}
			}

			&.see-more {
				border-radius: 14px;
				border: 1px solid $light-orange;
				color: white;
				display: block;
				font-size: 18px;
				font-weight: bold;
				margin: 35px auto 0;
				padding: 10px 0;
				text-align: center;
				text-decoration: none;
				width: 122px;

				@include mq('md') {
					border-radius: 20px;
					border: 3px solid $light-orange;
					margin: 35px 0 0;
					padding: 15px 0;
					width: 142px;
				}
			}
		}
	}
}