footer {
	background-color: rgba(224, 87, 14, 0.5);;
	padding-bottom: 30px;
	padding-top: 5px;
	position: relative;
	z-index: 5;

	@include mq('md') {
		padding-bottom: 7px;
	}

	.contact-itau {
		list-style: none;
		margin: 20px 0;
		padding: 0;

		@include mq('md') {
			display: inline-block;
			letter-spacing: -0.4px;
			vertical-align: top;
		}

		li {
			color: white;
			font-size: 12px;
			margin: 30px 0;
			max-width: 150px;
			padding-left: 70px;
			position: relative;

			@include mq('md') {
				display: inline-block;
				margin: 0 20px 0 0;
				padding-left: 33px;
				max-width: none;
			}

			&:before {
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				display: block;
				height: 25px;
				left: 10px;
				position: absolute;
				top: -6px;
				width: 27px;

				@include mq('md') {
					left: 0px;
				}
			}

			&.icon-portal {
				&:before {
					background-image: url('../images/icon-portal.svg');
				}
			}

			&.icon-app {
				&:before {
					background-image: url('../images/icon-app.svg');
				}
			}

			&.icon-phone {
				&:before {
					background-image: url('../images/icon-phone.svg');
					top: -2px;

					@include mq('md') {
						top: -6px;
					}
				}
			}

			a {
				color: white;
				text-decoration: none;
			}
		}
	}

	.networks {
		margin-top: 30px;

		@include mq('md') {
			display: inline-block;
			float: right;
			margin-top: 14px;
			letter-spacing: -0.4px;
			vertical-align: top;
		}

		p {
			font-size: 11px;
			font-weight: bold;
			padding-left: 10px;

			@include mq('md') {
				display: inline-block;
				margin-right: 15px;
				padding-left: 0px;
				vertical-align: top;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			@include mq('md') {
				display: inline-block;
				vertical-align: top;
			}

			li {
				display: inline-block;
				// margin: 0 9%;

				@include mq('md') {
					margin: 0 4px;
				}

				&:first-child {
					margin-left: 10px;

					@include mq('md') {
						margin-left: 0;
					}
				}

				&:last-child {
					margin-right: 10px;

					@include mq('md') {
						margin-right: 0;
					}
				}

				a {
					background-repeat: no-repeat;
					display: block;
					height: 30px;
					text-decoration: none;
					text-indent: -9999px;
					width: 30px;

					&.icon-facebook {
						background-image: url('../images/icon-facebook.svg');
					}

					&.icon-instagram {
						background-image: url('../images/icon-instagram.svg');
					}

					&.icon-youtube {
						background-image: url('../images/icon-youtube.svg');
					}

					&.icon-linkedin {
						background-image: url('../images/icon-linkedin.svg');
					}
				}
			}
		}
	}
}