#app-tarjeta-itau {
	.main-detail {
		.container-detail {
			.benefits-list {
				ul {
					@include mq('md') {
						column-count: 2;
						column-width: 100px;
						column-gap: 50px;
					}

					h4 {
						margin-bottom: 5px;
						padding-left: 35px;

						@include mq('md') {
							margin-top: 0;
						}
					}

					li {
						margin-bottom: 25px;
						line-height: 1.7;

						@include mq('md') {
							width: 195px;
						}

						&:before {
							height: 25px;
							width: 25px;
						}

						&:nth-child(1) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-avances.svg');
							}
						}

						&:nth-child(2) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-viajes.svg');
							}
						}

						&:nth-child(3) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-bloqueos.svg');
							}
						}

						&:nth-child(4) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-pagos.svg');
							}
						}

						&:nth-child(5) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-movimientos.svg');
							}
						}

						&:nth-child(6) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-extractos.svg');
							}
						}

						&:nth-child(7) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-cortes.svg');
							}
						}

						&:nth-child(8) {
							&:before {
								background-image: url('../images/details/app-itau-tarjetas-colombia/icon-uso-tarjeta.svg');
							}
						}
					}
				}

				.read-more {
					@include mq('md') {
						width: 60px;
					}
				}
			}
		}
	}
}

#cine-colombia {
	.main-detail {
		.container-detail {
			.benefits-list {
				ul {
					margin-top: 40px;

					li {
						padding-left: 90px;
						margin-bottom: 50px;

						@include mq('md') {
							padding-left: 120px;
							margin-bottom: 80px;
							width: 280px;
						}

						&:before {
							height: 45px;
							width: 70px;
							top: -5px;

							@include mq('md') {
								height: 65px;
								width: 115px;
								top: -15px;
							}
						}

						&:nth-child(1) {
							&:before {
								background-image: url('../images/details/2x1-cine-colombia/img-tarjeta-itau.png');
							}
						}

						&:nth-child(2) {
							&:before {
								background-image: url('../images/details/2x1-cine-colombia/img-tickets.png');
							}
						}

						&:nth-child(3) {
							&:before {
								background-image: url('../images/details/2x1-cine-colombia/img-popcorn.png');
							}
						}
					}
				}

				.read-more {
					@include mq('md') {
						width: 128px;
					}
				}
			}
		}
	}
}

#usa-y-no-pagues {
	.main-detail {
		.container-detail {
			.benefits-list {
				p {
					@include mq('md') {
						font-size: 18px;
						line-height: 1.4;
						margin-top: 30px;
						margin-bottom: 30px;
						width: 90%;
					}
				}

				.read-more {
					@include mq('md') {
						margin-top: 60px;
						width: 128px;
					}
				}
			}
		}
	}
}

#dias-itau {
	.main-detail {
		.container-detail {
			.benefits-list {
				ul {
					@include mq('md') {
						width: 90%;
					}

					li {
						border-bottom: 1px solid $light-orange;
						line-height: 1.4;
						padding-bottom: 20px;
						padding-left: 70px;
						padding-top: 20px;

						@include mq('md') {
							padding-bottom: 15px;
							padding-left: 120px;
							padding-top: 15px;
						}

						a {
							display: block;
							margin-top: 10px;
						}

						&:before {
							height: 45px;
							width: 60px;
							top: 22px;

							@include mq('md') {
								height: 55px;
								width: 77px;
								top: 20px;
							}
						}

						&:last-child {
							border-bottom: none;
						}

						&:nth-child(1) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-mercadolibre.png');
							}
						}

						&:nth-child(2) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-arturocalle.png');
								left: 13px;
								width: 40px;

								@include mq('md') {
									left: 25px;
								}
							}
						}

						&:nth-child(3) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-latamairlines.png');
							}
						}

						&:nth-child(4) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-despegar.png');
							}
						}

						&:nth-child(5) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-rappi.png');
								left: 9px;
								top: 30px;
								width: 50px;

								@include mq('md') {
									left: 23px;
								}
							}
						}

						&:nth-child(6) {
							&:before {
								background-image: url('../images/details/dias-itau/logo-farmatodo.png');
							}
						}
					}
				}

				.read-more {
					@include mq('md') {
						margin-top: 60px;
						width: 128px;
					}
				}
			}
		}
	}
}

#credito-itau {
	.main-detail {
		.container-detail {
			.benefits-list {
				ul {
					margin-top: 30px;

					@include mq('md') {
						column-count: 2;
						column-gap: 50px;
						column-width: 100px;
						margin-top: 40px;
					}

					li {
						font-weight: bold;
						padding-left: 40px;
						margin-bottom: 25px;
						line-height: 1.7;

						@include mq('md') {
							font-size: 18px;
							width: 195px;
						}

						&:before {
							height: 25px;
							width: 25px;
						}

						&:nth-child(1) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditorotativo247.svg');
							}
						}

						&:nth-child(2) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-sobregiro.svg');
							}
						}

						&:nth-child(3) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditouniversitario.svg');
							}
						}

						&:nth-child(4) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-libranza.svg');
							}
						}

						&:nth-child(5) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditohipotecario.svg');
							}
						}

						&:nth-child(6) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditorotativo.svg');
							}
						}

						&:nth-child(7) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditopersonal.svg');
							}
						}

						&:nth-child(8) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditoeducativo.svg');
							}
						}

						&:nth-child(9) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-leasinghabitacional.svg');
							}
						}

						&:nth-child(10) {
							&:before {
								background-image: url('../images/details/credito-itau/icon-creditovehiculov.svg');
							}
						}
					}
				}

				.read-more {
					@include mq('md') {
						margin-top: 60px;
						width: 128px;
					}
				}
			}
		}
	}
}

#canales-digitales {
	.main-detail {
		.container-detail {
			.benefits-list {
				ul {
					margin-top: 30px;
					column-count: 2;
					column-gap: 50px;
					column-width: 100px;

					@include mq('md') {
						column-count: 2;
						column-gap: 50px;
						column-width: 100px;
						margin-top: 40px;
					}

					li {
						margin-bottom: 20px;

						@include mq('md') {
							font-size: 20px;
							margin-bottom: 30px;
						}

						a {
							color: white;
							font-weight: normal;
							text-decoration: none;

							@include mq('md') {
								font-size: 18px;
							}
						}
					}

					&.medios {
						font-weight: bold;
					}

					&.networks {
						li {
							padding-left: 40px;
							padding-top: 5px;

							@include mq('md') {
								padding-left: 45px;
								padding-top: 8px;
							}

							&:before {
								height: 25px;
								width: 25px;

								@include mq('md') {
									height: 35px;
									width: 35px;
								}
							}

							&:nth-child(1) {
								&:before {
									background-image: url('../images/icon-facebook.svg');
								}
							}

							&:nth-child(2) {
								&:before {
									background-image: url('../images/icon-youtube.svg');
								}
							}

							&:nth-child(3) {
								&:before {
									background-image: url('../images/icon-instagram.svg');
								}
							}

							&:nth-child(4) {
								&:before {
									background-image: url('../images/icon-linkedin.svg');
								}
							}
						}
					}
				}

				h4 {
					@include mq('md') {
						font-size: 23px;
					}
				}

				.read-more {
					@include mq('md') {
						margin-top: 60px;
						width: 128px;
					}
				}
			}
		}
	}
}