//** Fonts **//
$font-itau-dbold: 'itau_displaybold';
$font-itau-dlight: 'itau_displaylight';
$font-itau-dregular: 'itau_displayregular';
$font-itau-dxbold: 'itau_displayxbold';

//** Colors **//
$orange: #FF6400;
$light-orange: #FB911A;
$dark-orange: #D7450D;
$footer-orange: rgba(224,87,14,1);
$blue: #003399;
$light-gray: #EDE8E4;
$dark-gray: #5E5852;
$driftwood: #A87F50;
$tallow: #A69F88;
$yellow-metal: #6E5A37;
$raw-sienna: #CE9141;
$lightning-yellow: #FBB61A;